.bodycontent {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color:whitesmoke;
}

.bodycontent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    height: 350px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 20px;

}

.box p {
    height: 17px;
    margin: 10px 0px 0px 20px;
    font-size: 0.85rem;
    color: #007185;
}

.box h2 {
    margin: 0px 0px 5px 20px;

}

.box-image {
    margin-left: 20px;
    margin-right: 20px;
    height:100%;
    background-size: cover;
}